<md-toolbar class="light-blue md-table-toolbar" style="position: fixed;">
  <div class="md-toolbar-tools">
     <md-button class="md-success" ng-click="search()">
      通缉犯：
     </md-button>
    <input type="text" name="" value="" placeholder="" ng-model="keyword">
   
  </div>
</md-toolbar>
 

<md-content style="margin-top: 64px;" layout-padding>


  <md-list>
    <div ng-repeat="contact in data['contactList'] | searchFilter: keyword | orderBy: 'priority'"
         ng-if="contact.KeyWord != 'gh_'">

      <md-list-item ng-click="addPriority(contact);">
        <img ng-src="data:img/jpg;base64,{{contact.src}}" class="md-avatar" />
        <p>{{contact.RemarkName}} ({{contact.NickName}}) - {{contact.UserName}}</p>
        <md-button class="md-primary" ng-click="changeRemarkNameDialog($event, contact)">改备注</md-button>
        <md-button class="md-primary" ng-click="getHeaderImage(contact)">偷窥</md-button>
        <md-switch class="md-secondary" ng-model="repeatRobot[contact.UserName]"> 学舌脑</md-switch>       
        <md-switch class="md-secondary" ng-model="inverseRobot[contact.UserName]"> 反话脑 </md-switch>

      </md-list-item>

      <md-list-item class="secondary-button-padding" layout-padding>
        <p>
          <md-input-container class="md-block no-margin">
            <label>text</label>
            <input ng-model="text_array[contact.NickName]">
          </md-input-container>
        </p>
        <md-button class="md-primary" ng-click="sendText(text_array[contact.NickName], contact.UserName)">发送文字信息</md-button>
      </md-list-item>

      <md-list-item class="secondary-button-padding" layout="row" layout-padding>
          <md-input-container class="md-block no-margin"  flex="10" ">
            <label>led-symbol</label>
            <input ng-model="led_array[contact.NickName].symbol">
          </md-input-container>
          <md-input-container class="md-block no-margin"  flex="90">
            <label>led</label>
            <input ng-model="led_array[contact.NickName].content">
          </md-input-container>
        <md-button class="md-primary" ng-click="sendLed(led_array[contact.NickName], contact.UserName)">发送LED信息</md-button>
      </md-list-item>

  

      <md-divider style="border-color:#2196F3;"></md-divider>
    </div>


  </md-list>
</md-content>

<style type="text/css" media="screen">
 
  .no-code-value {
    background-color: white;
    width: 350px;
    height: 120px;
    float:right;
  }

  .no-margin {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  md-switch {
    margin: 33px !important;
  }
</style>
