<md-toolbar class="light-blue md-table-toolbar">
  <div class="md-toolbar-tools">
    <!-- <md-button class="md-raised" ng-click="goBack()">back</md-button> -->

    <md-button class="md-raised" ng-click="sendAllMessage()">发送所有信息</md-button>
    <md-button class="md-raised" ng-click="saveContactList()">保存联系列表</md-button>
    <md-button class="md-raised" ng-click="loadMessages()">导入留言</md-button>
    <md-button class="md-raised" ng-click="saveMessages()">保存留言</md-button>
    <md-button class="md-raised" ng-click="addMessagesToAll($event)">格式化留言</md-button>
    <span flex></span>
    <input type="text" name="" value="" placeholder="" ng-model="keyword">
    <md-button class="md-success" ng-click="search()">
      搜尋
     </md-button>
  </div>
</md-toolbar>
 

<!-- <button ng-click="goBack()">back</button>
<button ng-click="sendAllMessage()">send all messages</button>
<button  ng-click="save()">save</button> -->

<md-content>
  <md-list>
    <md-list-item class="md-3-line" 
                  ng-repeat="contact in data['contactList'] | searchFilter: keyword"
                  ng-if="contact.KeyWord != 'gh_'">
      <img ng-src="data:img/jpg;base64,{{contact.src}}" class="md-avatar">
      <div class="md-list-item-text">
        <h4>{{contact.NickName}}-{{contact.SnsFlag}}</h4>
        <h3>{{contact.RemarkName}}</h3>

        <p>
          <md-input-container md-no-float class="md-block">
            <input ng-model="messages[contact.NickName]" placeholder="message">
          </md-input-container>
          
        </p>
      </div>
      <md-button class="md-secondary" ng-click="sendMessage(messages[contact.NickName], contact.UserName)">send</md-button>
      <md-button class="md-secondary" ng-click="getHeaderImage(contact)">get image</md-button>
      <md-button class="md-secondary" ng-click="getHeaderImage(contact)">set robot</md-button>
      
      <md-switch ng-model="repeatRobot[contact.UserName]" aria-label="Switch">set repeat robot </md-switch>
      <md-switch ng-model="inverseRobot[contact.UserName]" aria-label="Switch">set inverse robot </md-switch>
      
      

      <!-- <md-divider md-inset ng-if="!$last"></md-divider> -->
    </md-list-item>
  </md-list>
</md-content>

<style type="text/css" media="screen">
 
  .no-code-value {
    background-color: white;
    width: 350px;
    height: 120px;
    float:right;
  }

  md-switch {
    margin: 33px !important;
  }
</style>
