<md-toolbar class="light-blue md-table-toolbar">
  <div class="md-toolbar-tools">
    <span>搜尋料號單</span>
    <span flex></span>
    <md-button class="md-success" ng-click="search()">
      搜尋
     </md-button>
  </div>
</md-toolbar>
 

<button ng-click="goBack()">back</button>
<button ng-click="sendAllMessage()">send</button>

<md-content layout-padding="" >
  <img ng-src="{{qrcode}}" alt="">



  <md-list>
    <md-list-item class="md-3-line" ng-repeat="contact in contactList" ng-if="messages[contact['RemarkName']]">
     <!--  <img ng-src="http://wx.qq.com{{contact.HeadImgUrl}}" class="md-avatar" alt="{{contact.NickName}}"> -->
      <div class="md-list-item-text">
        <h4>{{contact.NickName}}</h4>
        <!-- <h3>{{contact.Signature}}</h3> -->
        <p>{{messages[contact['RemarkName']]["message"]}}</p>
      </div>
      <md-divider md-inset ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-content>

<style type="text/css" media="screen">
 
  .no-code-value {
    background-color: white;
    width: 350px;
    height: 120px;
    float:right;
  }
</style>
