<md-toolbar class="light-blue md-table-toolbar">
  <div class="md-toolbar-tools">
    <span>搜尋料號單</span>
    <span flex></span>
    <md-button class="md-success" ng-click="search()">
      搜尋
     </md-button>
  </div>
</md-toolbar>
 

<button ng-click="goBack()">back</button>
<button ng-click="sendAllMessage()">send</button>

<md-content>



  <md-list>
    <md-list-item class="md-3-line" ng-repeat="contact in contactList" ng-if="messages[contact['RemarkName']]">
      <div class="md-list-item-text">
        <h4>{{contact.NickName}}</h4>
        <h3>{{contact.RemarkName}}</h3>
        <p>
          <md-input-container md-no-float class="md-block">
            <input ng-model="messages[contact['RemarkName']]['message']" placeholder="Address 2">
          </md-input-container>
        </p>
      </div>
      <md-button class="md-secondary">send</md-button>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-content>

<style type="text/css" media="screen">
 
  .no-code-value {
    background-color: white;
    width: 350px;
    height: 120px;
    float:right;
  }
</style>
