<md-toolbar class="light-blue md-table-toolbar" style="position: fixed;">
    <div class="md-toolbar-tools">
        <!-- <md-button class="md-raised" ng-click="goBack()">back</md-button> -->

        <md-button class="md-raised" ng-click="sendAllText()">发送所有文字</md-button>
        <md-button class="md-raised" ng-click="sendAllLed()">发送所有LED</md-button>

        <md-button class="md-raised" ng-click="saveContactList()">保存联系列表</md-button>
        <md-button class="md-raised" ng-click="saveMessages()">保存留言</md-button>
        <md-button class="md-raised" ng-click="loadMessages()">导入留言</md-button>
        <md-button class="md-raised" ng-click="savePriority()">保存优先度</md-button>
        <md-button class="md-raised" ng-click="loadPriority()">导入优先度</md-button>
        <md-button class="md-raised" ng-click="SetTimingMissionStart()"
                   ng-show="startSetTimingMission">开始设置定时任务
        </md-button>
        <md-button class="md-raised" ng-click="SetTimingMissionEnd()"
                   ng-hide="startSetTimingMission">开始设置定时任务
        </md-button>

        <md-button class="md-raised" ng-click="addTextToAllDialog($event)">格式化留言</md-button>
        <md-button class="md-raised" ng-click="beOrNotToBe()">
            <span ng-hide="alive.alive">保持在线</span>
            <span ng-show="alive.alive">停止自嗨</span>
        </md-button>

        <md-button class="md-success" ng-click="search()">
            通缉犯：
        </md-button>
        <input type="text" name="" value="" placeholder="" ng-model="keyword">

    </div>
</md-toolbar>

<md-content style="margin-top: 64px;" layout-padding>

    <md-switch ng-model="keepUser" aria-label="keep user">
        过滤小组: {{ keepUser }}
    </md-switch>

    <md-list style="padding: 0 2vw;">
        <div ng-repeat="(index, contact) in data['contactList']  | priorityFilter | contactFilter: keepUser  | searchFilter: keyword | orderBy: '-priority'"
             layout-padding=""
             ng-style="{'background': (index % 2 === 0 ? '#EEEEEE' : '#FAFAFA') }">
            <md-list-item>
                <img ng-src="data:img/jpg;base64,{{contact.src}}" class="md-avatar"/>
                <p>{{contact.RemarkName}} ({{contact.NickName}})[{{contact.priority}}]</p>
                <!--{{contact}}-->
                <md-button class="md-primary" ng-click="getHeaderImage(contact)">下载头像</md-button>

                <md-button class="md-primary" ng-show="keepUser" ng-click="changeRemarkNameDialog($event, contact)">改备注
                </md-button>
                <md-button class="md-primary" ng-hide="keepUser" ng-click="changeChatroomNameDialog($event, contact)">改Topic
                </md-button>


                <md-button class="md-primary" ng-click="addPriority(contact)">+优先度</md-button>
                <md-button class="md-primary" ng-click="minusPriority(contact)">-优先度</md-button>

                <md-button class="md-warn"
                           ng-click="sendText(text_array[contact.NickName], contact.UserName)">
                    发送文字
                </md-button>
                <md-button class="md-warn"
                           ng-click="sendLed(led_array[contact.NickName], contact.UserName)">
                    发送LED
                </md-button>
                <md-button class="md-warn"
                           ng-click="sendTextQuick(contact)">
                    快速发送文字
                </md-button>
                <md-button class="md-warn"
                           ng-disabled="!isLegalTime(delay_time[contact.NickName])"
                           ng-click="delaySendText(contact, delay_time[contact.NickName])">
                    delay发送文字
                </md-button>
                <md-button class="md-warn"
                           ng-hide="keepUser"
                           ng-disabled="!isLegalTime(delay_time[contact.NickName])"
                           ng-click="delayChangeChatroomNameDialog($event, contact, delay_time[contact.NickName])">
                    delay改Topic
                </md-button>
                <md-switch class="md-secondary" ng-model="repeatRobot[contact.UserName]"> 学舌脑</md-switch>
                <md-switch class="md-secondary" ng-model="inverseRobot[contact.UserName]"> 反话脑</md-switch>

            </md-list-item>

            <md-list-item class="secondary-button-padding" layout-gt-sm="row">
                <md-input-container class="md-block no-margin"  flex-gt-sm>
                    <label>文字信息</label>
                    <input ng-model="text_array[contact.NickName]">
                </md-input-container>

                <md-input-container class="md-block no-margin"  flex-gt-sm>
                    <label>LED符号</label>
                    <input ng-model="led_array[contact.NickName].symbol">
                </md-input-container>

                <md-input-container class="md-block no-margin"  flex-gt-sm>
                    <label>LED内容</label>
                    <input ng-model="led_array[contact.NickName].content">
                </md-input-container>

                <md-input-container class="md-block no-margin"  flex-gt-sm>
                    <label>定时时间</label>
                    <input ng-model="delay_time[contact.NickName]">
                </md-input-container>

            </md-list-item>

            <!--<md-divider style="border-color:#2196F3;"></md-divider>-->
        </div>


    </md-list>
</md-content>

<style type="text/css" media="screen">

    .no-code-value {
        background-color: white;
        width: 350px;
        height: 120px;
        float: right;
    }

    .no-margin {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    md-switch {
        margin: 33px !important;
    }
</style>
